:root {
    --color-100: #e8f5f9;
    --color-500: #9f9fea;
    --color-900: #01015e;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100dvh;
}

app-root {
    height: 100%;
}