<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/style.css">
    <script type="module" src="/views/index.js"></script>
</head>
<body>
    <header class="page-header">
        <div class="company">Jugetes Arcas</div>
        <div class="fullname"></div>
        <button type="button" id="tButSession"></button>
    </header>
    <main>
        <h1>Cajas de Playmobil</h1>
    </main>
</body>
</html>