<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <script type="module" src="./login.js"></script>
</head>
<body>
    <form>
        <header>Validación de usuario</header>

        <label>Usuario: </label>
        <input type="text" id="tTxtUsername" value="sonia.silverado">

        <label>Contraseña: </label>
        <input type="password" id="tTxtPassword" value="s">

        <button type="button" id="tButValidate">Validar</button>
    </form>
</body>
</html>